<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Webapi\ServiceOutputProcessor">
        <plugin name="rest_api_root_output_format" type="AlbertMage\Webapi\Plugin\ServiceOutputProcessorChange"/>
    </type>
    <type name="Magento\Framework\Reflection\TypeCaster">
        <plugin name="rest_api_output_format" type="AlbertMage\Webapi\Plugin\TypeCasterChange"/>
    </type>
    <type name="Magento\Webapi\Controller\Rest\SynchronousRequestProcessor">
        <plugin name="rest_synchronous_request_processor" type="AlbertMage\Webapi\Plugin\SynchronousRequestProcessorChange"/>
    </type>
    <type name="AlbertMage\Webapi\Plugin\SynchronousRequestProcessorChange">
        <arguments>
            <argument name="cacheUriList" xsi:type="array">
                <item name="test" xsi:type="string">V1/app/products/xxxx/:productId</item>
            </argument>
        </arguments>
    </type>
</config>